In [4]:
import dill
import pandas as pd
from sqlalchemy import create_engine
from sqlalchemy.types import NVARCHAR

def csv_it(dataframe, filebase):
    dataframe.to_csv('./csv/'+filebase+'.csv', sep=',', index=False, encoding='utf-8')
    return

def pkl_it(dataframe, filebase):
    with open('./pkl/'+filebase+'.pkl', 'wb') as fh:
        dill.dump(dataframe, fh)

    return

def sql_it(dataframe, filebase, dbname='zika'): #check!
    postgres_str = 'postgresql://abhijit:{}@127.0.0.1:6742/{}'.format(POSTGRES_PWD, dbname)
    engine = create_engine(postgres_str)
    dataframe.to_sql(filebase, engine, if_exists='replace', dtype={col_name: NVARCHAR for col_name in filebase})
    return

def save_it(dataframe, filebase, dbname='zika'):
    csv_it(dataframe, filebase)
    pkl_it(dataframe, filebase)
    sql_it(dataframe, 'sql_' + filebase, dbname=dbname)
    return

In [5]:
import numpy as np
import os
import pandas as pd
import dill
from datetime import timedelta
from dateutil.parser import parser
import sys
import os
f = 'csv_pkl_sql.py'
for path, dirs, files in os.walk(os.path.expanduser('~/')):    
    if f in files:
        dir_ = path
        break
os.chdir(dir_)
try:
    from csv_pkl_sql import save_it, csv_it, pkl_it
except: 
    print("Change to the project directory")
%matplotlib inline
import matplotlib.pyplot as plt
import seaborn as sns

In [6]:
import pandas as pd
import numpy as np
from csv_pkl_sql import csv_it, sql_it
#import cPickle as pickle

from osgeo import gdal

ModuleNotFoundError: No module named 'osgeo'

In [7]:
# Import the latitude and longitude data
lat_long_data = pd.read_csv('./csv/01_latitude_longitude_google.csv')


# Import the geoTIF map
ds = gdal.Open('./gpw_population_density/gpw-v4-population-density_2020.tif')

NameError: name 'gdal' is not defined

In [5]:
ds

In [9]:
import pickle
rows = ds.RasterYSize
cols = ds.RasterXSize

transform = ds.GetGeoTransform()
xOrigin = transform[0]
yOrigin = transform[3]
pixelWidth = transform[1]
pixelHeight = transform[5]


band = ds.GetRasterBand(1)


def get_population_density(latitude, longitude, 
                           xOrigin=xOrigin, yOrigin=yOrigin,
                           pixelWidth=pixelWidth, pixelHeight=pixelHeight,
                           band=band):

    # # Single point, x=longitude, y=latitude

    x = longitude
    y = latitude

    # This reads three pixels in x- and y- direction
    try:
        #  read 3 x 3 region
        size = 100

        dist_matrix = np.meshgrid(np.arange(-size, size+1), 
                                  np.arange(-size, size+1))
        dist_matrix = np.sqrt((dist_matrix[0]**2 + dist_matrix[1]**2))
        sort_order = dist_matrix.ravel().argsort()

        xOffset = int((x - xOrigin) / pixelWidth) - size
        yOffset = int((y - yOrigin) / pixelHeight) - size

        data = band.ReadAsArray(xOffset, yOffset, 2*size+1, 2*size+1)
        data_sort = data.ravel()[sort_order]

        density = data_sort[data_sort>0][:9].mean()
    except:
        density = np.NaN

    return density


lat_long_data['density_per_km'] = lat_long_data.apply(lambda x: get_population_density(x.latitude, x.longitude), axis=1)

#lat_long_data[['location','density_per_km']].to_csv('../csv/06_population_density.csv')
csv_it(lat_long_data[['location','density_per_km']], '06_population_density')

with open('./pkl/06_population_density.pkl', 'wb') as fh:
    pickle.dump(lat_long_data[['location','density_per_km']], fh)

#sql_it(lat_long_data[['location','density_per_km']], '06_population_density')

In [10]:
lat_long_data

,location,location_type,country,province,county,city,latitude,longitude,density_per_km
0,Argentina-Buenos_Aires,province,Argentina,Buenos Aires,NaN,NaN,-34.603684,-58.381559,12625.800781
1,Argentina-CABA,province,Argentina,Ciudad de Buenos Aires,NaN,NaN,-34.603684,-58.381559,12625.800781
2,Argentina-Cordoba,province,Argentina,Cordoba,NaN,NaN,-31.420083,-64.188776,2404.108887
3,Argentina-Entre_Rios,province,Argentina,Entre Rios,NaN,NaN,-31.774665,-60.495646,72.495293
4,Argentina-Santa_Fe,province,Argentina,Santa Fe,NaN,NaN,-31.610658,-60.697294,208.092285
5,Argentina-Chaco,province,Argentina,Chaco,NaN,NaN,-27.425717,-59.024378,121.331650
6,Argentina-Corrientes,province,Argentina,Corrientes,NaN,NaN,-27.469213,-58.830635,837.728516
7,Argentina-Formosa,province,Argentina,Formosa,NaN,NaN,-26.185777,-58.175567,41.440811
8,Argentina-Misiones,province,Argentina,Misiones,NaN,NaN,-27.426925,-55.946708,414.057007
9,Argentina-Catamarca,province,Argentina,Catamarca,NaN,NaN,-28.469581,-65.779544,460.153595
10,Argentina-Jujuy,province,Argentina,Jujuy,NaN,NaN,-24.184340,-65.302177,146.108459
11,Argentina-Salta,province,Argentina,Salta,NaN,NaN,-24.782127,-65.423198,347.385864
12,Argentina-Sgo_Del_Estero,province,Argentina,Santiago Del Estero,NaN,NaN,-27.783357,-64.264167,138.026703
13,Argentina-Tucuman,province,Argentina,Tucuman,NaN,NaN,-26.808285,-65.217590,6299.477539
14,Argentina-La_Rioja,province,Argentina,La Rioja,NaN,NaN,-29.413454,-66.856458,17.697842
15,Argentina-San_Luis,province,Argentina,San Luis,NaN,NaN,-33.301727,-66.337752,19.511532
16,Argentina-Mendoza,province,Argentina,Mendoza,NaN,NaN,-32.889459,-68.845839,2292.493164
17,Argentina-San_Juan,province,Argentina,San Juan,NaN,NaN,-31.535107,-68.538594,3898.334717
18,Argentina-Chubut,province,Argentina,Chubut,NaN,NaN,-43.293425,-65.111482,37.095642
19,Argentina-La_Pampa,province,Argentina,La Pampa,NaN,NaN,-36.614757,-64.283921,46.056725
20,Argentina-Rio_Negro,province,Argentina,Rio Negro,NaN,NaN,-40.826143,-63.026634,7.440681
21,Argentina-Santa_Cruz,province,Argentina,Santa Cruz,NaN,NaN,-51.635282,-69.247435,4.219664
22,Argentina-Neuquen,province,Argentina,Neuquen,NaN,NaN,-38.951678,-68.059189,64.008926
23,Argentina-Tierra_del_Fuego,province,Argentina,Tierra del Fuego,NaN,NaN,-54.805400,-68.324206,8.575727
24,Brazil-Alagoas,province,Brazil,Alagoas,NaN,NaN,-9.571306,-36.781951,17.653419
25,Brazil-Bahia,province,Brazil,Bahia,NaN,NaN,-12.579738,-41.700727,18.942055
26,Brazil-Ceara,province,Brazil,Ceara,NaN,NaN,-5.498398,-39.320624,49.292038
27,Brazil-Maranhao,province,Brazil,Maranhao,NaN,NaN,-4.960950,-45.274416,11.193904
28,Brazil-Paraiba,province,Brazil,Paraiba,NaN,NaN,-7.239961,-36.781951,4.566781
29,Brazil-Pernambuco,province,Brazil,Pernambuco,NaN,NaN,-8.813717,-36.954107,6.583462
...,...,...,...,...,...,...,...,...,...
1684,United_States-Florida-Martin_County,county,United States,Florida,Martin,Martin County,36.343397,-88.850338,951.880859
1685,United_States-Florida-Miami_Dade_County,county,United States,Florida,Miami Dade,Miami Dade County,25.551603,-80.632692,3.400381
1686,United_States-Florida-Monroe_County,county,United States,Florida,Monroe,Monroe County,32.509311,-92.119301,802.969666
1687,United_States-Florida-Nassau_County,county,United States,Florida,Nassau,Nassau County,25.047984,-77.355413,1312.159424
1688,United_States-Florida-Okaloosa_County,county,United States,Florida,Okaloosa,Okaloosa County,30.577340,-86.661108,17.466238
1689,United_States-Florida-Okeechobee_County,county,United States,Florida,Okeechobee,Okeechobee County,27.243935,-80.829783,505.417419
1690,United_States-Florida-Orange_County,county,United States,Florida,Orange,Orange County,33.787914,-117.853101,3343.263672
1691,United_States-Florida-Osceola_County,county,United States,Florida,Osceola,Osceola County,45.320520,-92.704930,346.303345
1692,United_States-Florida-PalmBeach_County,county,United States,Florida,PalmBeach,PalmBeach County,26.705621,-80.036430,705.232544
1693,United_States-Florida-Pasco_County,county,United States,Florida,Pasco,Pasco County,46.230505,-119.092232,2548.019531
1694,United_States-Florida-Pinellas_County,county,United States,Florida,Pinellas,Pinellas County,27.876394,-82.777858,1943.637329
1695,United_States-Florida-Polk_County,county,United States,Florida,Polk,Polk County,27.861735,-81.691156,11.489857
1696,United_States-Florida-Putnam_County,county,United States,Florida,Putnam,Putnam County,41.904601,-71.868992,69.351822
1697,United_States-Florida-SantaRosa_County,county,United States,Florida,SantaRosa,SantaRosa County,38.440429,-122.714055,2641.216309
1698,United_States-Florida-Sarasota_County,county,United States,Florida,Sarasota,Sarasota County,27.336435,-82.530653,1836.750610
1699,United_States-Florida-Seminole_County,county,United States,Florida,Seminole,Seminole County,27.839747,-82.791213,1526.570679
1700,United_States-Florida-StJohns_County,county,United States,Florida,StJohns,StJohns County,18.336811,-64.728095,38.142784
1701,United_States-Florida-StLucie_County,county,United States,Florida,StLucie,StLucie County,27.322556,-80.543845,4.751268
1702,United_States-Florida-Sumter_County,county,United States,Florida,Sumter,Sumter County,33.920435,-80.341469,717.554138
1703,United_States-Florida-Suwannee_County,county,United States,Florida,Suwannee,Suwannee County,30.248510,-82.993161,42.785053
1704,United_States-Florida-Taylor_County,county,United States,Florida,Taylor,Taylor County,42.240872,-83.269651,1293.761108
1705,United_States-Florida-Union_County,county,United States,Florida,Union,Union County,45.233412,-118.041063,3.850281
1706,United_States-Florida-Volusia_County,county,United States,Florida,Volusia,Volusia County,29.027984,-81.075466,42.177677
1707,United_States-Florida-Wakulla_County,county,United States,Florida,Wakulla,Wakulla County,30.130169,-84.354205,43.019878
1708,United_States-Florida-Walton_County,county,United States,Florida,Walton,Walton County,38.875619,-84.610221,492.474060
1709,United_States-Florida-Washington_County,county,United States,Florida,Washington,Washington County,47.751074,-120.740139,7.217485
1710,United_States_Virgin_Islands,province,United States,Virgin Islands,NaN,NaN,18.335765,-64.896335,835.046448
1711,United_States_Virgin_Islands-Saint_Thomas,county,United States,Virgin Islands,Saint Thomas,NaN,18.338096,-64.894095,835.046448
1712,United_States_Virgin_Islands-Saint_Croix,county,United States,Virgin Islands,Saint Croix,NaN,17.724597,-64.834799,113.248444
1713,United_States_Virgin_Islands-Saint_John,county,United States,Virgin Islands,Saint John,NaN,18.356343,-64.700136,37.428146

In [1]:
import pandas as pd
import numpy as np
import dill
from datetime import timedelta

In [33]:
import matplotlib.pyplot as plt
import seaborn as sns
with open('./pkl/00_cleaned_city_names.pkl', 'rb') as fh:
    location_key = dill.load(fh)
location_key.head(1)

                 location location_type    country      province county  city
0  Argentina-Buenos_Aires      province  Argentina  Buenos Aires   None  None

In [34]:
with open('./pkl/01_latitude_longitude_google.pkl', 'rb') as fh:
    lat_long = dill.load(fh)
lat_long.head(1)
lat_long = lat_long[['location','latitude','longitude']]
location_key.shape, lat_long.shape
location = pd.merge(location_key, lat_long, on='location', how='inner')
location.head(1)

,location,location_type,country,province,county,city,latitude,longitude
0,Argentina-Buenos_Aires,province,Argentina,Buenos Aires,None,None,-34.603684,-58.381559

In [35]:
location.shape

(1724, 8)

In [36]:
save_it(location[['location','country']], '11_feature_engineering_location')

In [37]:
with open('./pkl/02_airport_information_fallingrain.pkl', 'rb') as fh:
    airport = dill.load(fh)
airport.head(1)

,Airlines,city,FAA,IATA,ICAO,kind,latitude,longitude,max_runway,name,country,state
70,4,BAHIA BLANCA,NaN,BHI,SAZB,Medium,-38.725,-62.169,8579.0,COMANDANTE ESPORA,Argentina,NaN

In [38]:
airport = airport[['city', 'FAA', 'IATA', 'ICAO', 'kind', 'latitude',
       'longitude', 'max_runway', 'name', 'country', 'state']]
airport.head(1)

,city,FAA,IATA,ICAO,kind,latitude,longitude,max_runway,name,country,state
70,BAHIA BLANCA,NaN,BHI,SAZB,Medium,-38.725,-62.169,8579.0,COMANDANTE ESPORA,Argentina,NaN

In [39]:
with open('./pkl/04_merged_latitude_longitude_airport_checkpoint.pkl', 'rb') as fh:
    airport2 = dill.load(fh)
airport2.head(1)
airport2 = airport2[['location', 'latitude', 'longitude', 'airport_index', 'country', 'name', 'FAA', 'IATA',
       'ICAO']]
airport.shape, airport2.shape

((2247, 11), (1714, 9))

In [41]:
airport.kind.unique()
save_it(airport, '11_feature_engineering_airport')

In [43]:
# Closest medium or large airport
airport_coords = airport[['latitude', 'longitude']].values[np.newaxis, :]
places_coords = np.rollaxis(lat_long[['latitude','longitude']].values[np.newaxis, :], 0, -1)
dist_coords = ((places_coords - airport_coords)**2).sum(axis=-1)
min_dist = dist_coords.min(axis=1)

airport_distance = lat_long[['location']].copy()
airport_distance['airport_dist_any'] = min_dist

# Closest large airport
airport_coords = airport.loc[airport.kind=='Large', 
                             ['latitude', 'longitude']].values[np.newaxis, :]
places_coords = np.rollaxis(lat_long[['latitude','longitude']].values[np.newaxis, :], 0, -1)
dist_coords = ((places_coords - airport_coords)**2).sum(axis=-1)
min_dist = dist_coords.min(axis=1)

airport_distance['airport_dist_large'] = min_dist
airport_distance.head()

                 location  airport_dist_any  airport_dist_large
0  Argentina-Buenos_Aires          0.003183            0.071514
1          Argentina-CABA          0.003183            0.071514
2       Argentina-Cordoba          0.009602           43.526915
3    Argentina-Entre_Rios          0.000658           13.126461
4      Argentina-Santa_Fe          0.023428           14.983910

In [44]:
save_it(airport_distance, '11_feature_engineering_airport_distance')

In [45]:
with open('./pkl/04_weekly_weather.pkl', 'rb') as fh:
    weather = dill.load(fh)

weather.head(2)

,date,max_temp,max_temp1,max_temp2,location,mean_temp,mean_temp1,mean_temp2,min_temp,min_temp1,min_temp2,dew_point,dew_point1,dew_point2,precipitation,precipitation1,precipitation2,wind,wind1,wind2
0,2015-11-28,94.0,94.0,94.0,Mexico-Guerrero,84.0,84.0,84.0,73.0,75.0,74.0,75.0,78.0,77.0,1.22,0.00,0.0,4.0,4.0,4.0
1,2015-12-05,93.0,94.0,94.0,Mexico-Guerrero,82.0,84.0,84.0,72.0,73.0,75.0,74.0,75.0,78.0,0.00,1.22,0.0,4.0,4.0,4.0

In [46]:
save_it(weather, '11_feature_engineering_weather')

In [47]:
with open('./pkl/05_mosquito_sightings.pkl', 'rb') as fh:
    mosquito = dill.load(fh)
mosquito.head(1)

,vector,occurrence_id,source_type,location_type,polygon_admin,latitude,longitude,year,country,country_id,gaul_ad0,status
34478,Aedes albopictus,34479,unpublished,point,-999,22.89,120.44,2006,Taiwan,TWN,886,NaN

In [49]:
# nearest mosquito sighting
mosquito_coords = mosquito[['latitude', 'longitude']].values[np.newaxis, :]
places_coords = np.rollaxis(lat_long[['latitude','longitude']].values[np.newaxis, :], 0, -1)
dist_coords = ((places_coords - mosquito_coords)**2).sum(axis=-1)
min_dist = dist_coords.min(axis=1)

mosquito_distance = lat_long[['location']].copy()
mosquito_distance['mosquito_dist'] = min_dist

mosquito_distance.head()

                 location  mosquito_dist
0  Argentina-Buenos_Aires       0.008009
1          Argentina-CABA       0.008009
2       Argentina-Cordoba       0.000480
3    Argentina-Entre_Rios       1.244226
4      Argentina-Santa_Fe       0.742703

In [50]:
save_it(mosquito_distance, '11_feature_engineering_mosquito_distance')

In [51]:
with open('./pkl/06_population_density.pkl', 'rb') as fh:
    population = dill.load(fh)
population.head(1)

                 location  density_per_km
0  Argentina-Buenos_Aires    12625.800781

In [52]:
save_it(population, '11_feature_engineering_population')

In [53]:
print (weather.shape)

model = pd.merge(weather,
                 population,
                 on='location', 
                 how='left')

print (model.shape)

model = pd.merge(model,
                 airport_distance,
                 on='location',
                 how='left')

print (model.shape, model.isnull().sum().max())

model = pd.merge(model,
                 mosquito_distance,
                 on='location',
                 how='left')

print (model.dropna().shape)

model = pd.merge(model,
         location[['location','country']],
         on='location',
         how='left')

print (model.dropna().shape)

(112644, 20)
(113139, 21)
(114129, 23) 0
(116109, 24)
(127989, 25)

## Scrape GDP and PPP

In [54]:
#GDP data
import pandas as pd
import numpy as np
import requests

import re
import time
from io import StringIO
from selenium import webdriver
from selenium.webdriver.chrome.options import Options
from bs4 import BeautifulSoup
import os
os.chdir(os.path.expanduser("/home/abhijit/Documents/Abhijit_epidemicModel//notebooks/"))

from csv_pkl_sql import save_it
os.chdir('..')

In [55]:
driver = webdriver.Chrome()

In [56]:
driver.get('https://knoema.com/nwnfkne/world-gdp-ranking-2017-gdp-by-country-data-and-charts')
html = driver.page_source

In [57]:
tables = pd.read_html(html)

In [58]:
tables

[   1980  1990  2000  2005  2013  2014  2015  2016  2017
 0  1980  1990  2000  2005  2013  2014  2015  2016  2017,
    1980  1990  2000  2005  2013  2014  2015  2016  2017
 0  1980  1990  2000  2005  2013  2014  2015  2016  2017,
                    Unnamed: 0     2015     2016     2017
 0                 Afghanistan     20.1     19.5     20.9
 1                     Albania     11.3     11.9     13.2
 2                     Algeria    165.9    159.0    178.3
 3                      Angola    102.6     95.3    124.2
 4         Antigua and Barbuda      1.4      1.5      1.5
 5                   Argentina    642.5    554.1    637.7
 6                     Armenia     10.6     10.6     11.5
 7                   Australia   1232.9   1264.9   1379.5
 8                     Austria    382.3    391.0    416.8
 9                  Azerbaijan     50.8     37.8     40.7
 10                    Bahrain     31.1     32.2     34.9
 11                 Bangladesh    208.3    235.6    261.4
 12                   Barbados      4.7      4.8      5.0
 13                    Belarus     56.3     47.7     54.4
 14                    Belgium    455.4    468.1    494.7
 15                     Belize      1.8      1.8      1.9
 16                      Benin      8.3      8.6      9.2
 17                     Bhutan      2.0      2.1      2.3
 18                    Bolivia     33.2     34.1     37.1
 19     Bosnia and Herzegovina     16.2     16.9     18.1
 20                   Botswana     14.4     15.7     17.2
 21                     Brazil   1799.7   1793.1   2055.0
 22          Brunei Darussalam     12.9     11.4     12.7
 23                   Bulgaria     50.2     53.2     56.9
 24               Burkina Faso     10.4     11.3     12.6
 25                    Burundi      3.0      3.1      3.4
 26                   Cambodia     18.2     20.2     22.3
 27                   Cameroon     30.9     32.2     34.0
 28                     Canada   1559.6   1535.8   1652.4
 29                 Cape Verde      1.6      1.6      1.7
 ..                        ...      ...      ...      ...
 152                  Suriname      4.8      3.3      3.3
 153                 Swaziland      3.9      3.8      4.5
 154                    Sweden    497.9    514.5    538.6
 155               Switzerland    679.2    668.7    678.6
 156  Taiwan Province of China    525.6    530.6    579.3
 157                Tajikistan      7.9      7.0      7.3
 158                  Tanzania     45.6     47.7     51.7
 159                  Thailand    401.4    411.8    455.4
 160               The Bahamas     11.2     11.3     11.6
 161                The Gambia      0.9      1.0      1.0
 162                      Togo      4.2      4.5      4.8
 163                     Tonga      0.4      0.4      0.4
 164       Trinidad and Tobago     24.4     22.3     21.6
 165                   Tunisia     43.2     42.1     40.3
 166                    Turkey    859.4    863.4    849.5
 167              Turkmenistan     35.8     36.2     37.9
 168                    Tuvalu      0.0      0.0      0.0
 169                    Uganda     25.2     25.3     26.3
 170                   Ukraine     90.9     93.3    109.3
 171      United Arab Emirates    357.9    348.7    377.4
 172            United Kingdom   2886.2   2660.7   2624.5
 173             United States  18120.7  18624.5  19390.6
 174                   Uruguay     53.3     52.4     58.4
 175                Uzbekistan     66.5     66.7     47.9
 176                   Vanuatu      0.8      0.8      0.9
 177                 Venezuela    242.6    236.1    210.1
 178                   Vietnam    191.5    201.3    220.4
 179                     Yemen     34.6     20.9     16.5
 180                    Zambia     21.2     20.9     25.5
 181                  Zimbabwe     16.1     16.1     17.5

 [182 rows x 4 columns],
                    Unnamed: 0     2015     2016     2017
 0                 Afghanistan     64.3     66.7     69.6
 1                     Albania     32.5     34.0     36.0
 2                     Algeria    582.7    609.6    632.9
 3                      Angola    184.8    185.6    190.3
 4         Antigua and Barbuda      2.1      2.3      2.4
 5                   Argentina    883.9    878.8    920.2
 6                     Armenia     25.5     25.8     28.3
 7                   Australia   1151.7   1197.2   1246.5
 8                     Austria    408.4    419.6    439.6
 9                  Azerbaijan    171.9    168.7    171.8
 10                    Bahrain     64.2     67.1     70.4
 11                 Bangladesh    580.3    630.0    687.1
 12                   Barbados      5.0      5.1      5.2
 13                    Belarus    173.9    171.7    178.9
 14                    Belgium    496.7    510.4    528.5
 15                     Belize      3.1      3.1      3.2
 16                      Benin     22.4     23.6     25.3
 17                     Bhutan      6.0      6.5      7.0
 18                    Bolivia     74.6     78.8     83.6
 19     Bosnia and Herzegovina     40.8     42.7     44.6
 20                   Botswana     35.4     37.4     38.9
 21                     Brazil   3224.4   3152.3   3240.3
 22          Brunei Darussalam     33.2     32.8     33.5
 23                   Bulgaria    138.0    145.3    153.1
 24               Burkina Faso     30.8     33.0     35.8
 25                    Burundi      7.8      7.8      8.0
 26                   Cambodia     54.4     59.0     64.3
 27                   Cameroon     80.0     84.6     88.9
 28                     Canada   1642.9   1687.4   1769.3
 29                 Cape Verde      3.4      3.5      3.7
 ..                        ...      ...      ...      ...
 152                  Suriname      8.7      8.4      8.5
 153                 Swaziland     11.0     11.1     11.3
 154                    Sweden    478.0    499.7    520.9
 155               Switzerland    489.5    502.7    517.2
 156  Taiwan Province of China   1103.1   1132.9   1185.5
 157                Tajikistan     24.0     26.0     28.4
 158                  Tanzania    138.7    150.3    162.2
 159                  Thailand   1115.1   1166.4   1233.7
 160               The Bahamas     11.1     11.2     11.6
 161                The Gambia      3.3      3.4      3.6
 162                      Togo     11.4     12.2     12.9
 163                     Tonga      0.5      0.6      0.6
 164       Trinidad and Tobago     45.5     43.4     43.0
 165                   Tunisia    127.6    130.5    135.4
 166                    Turkey   1908.4   1994.3   2173.2
 167              Turkmenistan     88.8     95.5    103.5
 168                    Tuvalu      0.0      0.0      0.0
 169                    Uganda     80.5     83.4     88.7
 170                   Ukraine    340.6    353.3    368.8
 171      United Arab Emirates    643.1    671.1    686.8
 172            United Kingdom   2724.1   2812.3   2914.0
 173             United States  18120.7  18624.5  19390.6
 174                   Uruguay     72.5     74.5     78.1
 175                Uzbekistan    190.2    207.6    222.6
 176                   Vanuatu      0.7      0.7      0.8
 177                 Venezuela    514.0    434.9    380.7
 178                   Vietnam    553.5    595.4    647.4
 179                     Yemen     66.2     44.0     38.6
 180                    Zambia     62.2     65.3     68.9
 181                  Zimbabwe     31.8     32.4     34.0

 [182 rows x 4 columns],
                          Unnamed: 0  2015  2016  2017
 0                             Libya -13.0  -7.4  70.8
 1                          Ethiopia  10.4   8.0  10.9
 2                             Ghana   3.8   3.7   8.4
 3                           Ireland  25.5   5.1   7.8
 4                             Nepal   3.3   0.4   7.5
 5                           Armenia   3.3   0.3   7.5
 6                           Senegal   6.5   6.7   7.2
 7                        Tajikistan   6.0   6.9   7.1
 8                        Bangladesh   6.8   7.2   7.1
 9                            Turkey   6.1   3.2   7.0
 10                          Romania   4.0   4.8   7.0
 11                         Cambodia   7.2   7.0   6.9
 12                            China   6.9   6.7   6.9
 13                       Lao P.D.R.   7.3   7.0   6.8
 14                          Vietnam   6.7   6.2   6.8
 15                            India   8.2   7.1   6.7
 16                          Myanmar   7.0   5.9   6.7
 17                         Djibouti   6.5   6.5   6.7
 18                      Philippines   6.1   6.9   6.7
 19                           Guinea   3.5   6.6   6.7
 20                            Malta   9.9   5.5   6.6
 21                     Turkmenistan   6.5   6.2   6.5
 22                     Burkina Faso   3.9   5.9   6.4
 23                           Rwanda   8.9   6.0   6.1
 24                           Bhutan   6.1   6.4   6.0
 25                         Tanzania   7.0   7.0   6.0
 26                         Malaysia   5.0   4.2   5.9
 27                            Benin   2.1   4.0   5.6
 28                    Guinea-Bissau   6.1   5.8   5.5
 29                           Panama   5.8   5.0   5.4
 ..                              ...   ...   ...   ...
 152                           Haiti   1.2   1.5   1.2
 153                     Switzerland   1.2   1.4   1.1
 154                          Brazil  -3.6  -3.5   1.0
 155  St. Vincent and the Grenadines   0.9   0.8   1.0
 156                         Jamaica   0.8   1.5   1.0
 157                        Barbados   1.0   1.6   0.9
 158                           Gabon   3.9   2.1   0.8
 159                         Nigeria   2.7  -1.6   0.8
 160                          Belize   3.8  -0.5   0.8
 161                          Angola   3.0  -0.8   0.7
 162               Brunei Darussalam  -0.4  -2.5   0.5
 163            United Arab Emirates   3.8   3.0   0.5
 164                       Swaziland   1.1   0.0   0.2
 165                      Azerbaijan   0.6  -3.1   0.1
 166                   FYR Macedonia   3.9   2.9   0.0
 167                         Burundi  -4.0  -1.0   0.0
 168                        Suriname  -2.6  -5.1   0.0
 169                            Oman   4.7   1.8  -0.3
 170                    Saudi Arabia   4.1   1.7  -0.7
 171                            Iraq   4.8  11.0  -0.8
 172                         Namibia   6.0   1.1  -1.2
 173                          Kuwait  -1.0   2.2  -2.5
 174             Trinidad and Tobago   1.5  -6.0  -2.6
 175                            Chad   1.8  -6.4  -3.1
 176                        Dominica  -3.7   2.6  -4.2
 177               Equatorial Guinea  -9.1  -9.7  -4.4
 178               Republic of Congo   2.6  -2.8  -4.6
 179                     South Sudan  -0.2 -13.8 -11.1
 180                           Yemen -37.1 -34.3 -13.8
 181                       Venezuela  -6.2 -16.5 -14.0

 [182 rows x 4 columns]]

In [59]:
gdp = tables[2].rename(columns={'Unnamed: 0':'country','Units':'units'})
gdp.head(1)

       country  2015  2016  2017
0  Afghanistan  20.1  19.5  20.9

In [60]:
gdp.columns

Index(['country', '2015', '2016', '2017'], dtype='object')

In [61]:
gdp_ppp = tables[3].rename(columns={'Unnamed: 0':'country','Units':'units'})
gdp_ppp.head(1)

       country  2015  2016  2017
0  Afghanistan  64.3  66.7  69.6

In [62]:
locations = pd.read_pickle('./pkl/00_cleaned_city_names.pkl')
locations.head(1)

                 location location_type    country      province county  city
0  Argentina-Buenos_Aires      province  Argentina  Buenos Aires   None  None

In [63]:
mask = gdp.country.isin(locations.country.unique())
gdp = gdp.loc[mask]
gdp.shape

(12, 4)

In [64]:
mask = gdp_ppp.country.isin(locations.country.unique())
gdp_ppp = gdp_ppp.loc[mask]
gdp_ppp.shape

(12, 4)

In [65]:
save_it(gdp, '09_GDP_table')

In [66]:
save_it(gdp_ppp, '09_GDP_PPP_table')

In [67]:
import pandas as pd
import numpy as np
import dill
from datetime import timedelta

import matplotlib.pyplot as plt
import seaborn as sns

%matplotlib inline

In [69]:
gdp = pd.read_pickle('./pkl/09_GDP_table.pkl')[['country', '2015']]
gdp_ppp = pd.read_pickle('./pkl/09_GDP_PPP_table.pkl')[['country', '2015']]
gdp.head(1)

     country   2015
5  Argentina  642.5

In [70]:
gdp.rename(columns={'2015':'gdp'}, inplace=True)
gdp_ppp.rename(columns={'2015':'gdp_ppp'}, inplace=True)
gdp = pd.merge(gdp, gdp_ppp, on='country')

In [71]:
save_it(gdp, '11_feature_engineering_gdp')

In [72]:
model = pd.merge(model,
                 gdp,
                 on='country',
                 how='left')

print (model.dropna().shape)

model.drop(['country'], axis=1, inplace=True)

save_it(model, '11_features_engineered')

(127989, 27)

In [73]:
model.head(1).T

                                      0
date                2015-11-28 00:00:00
max_temp                             94
max_temp1                            94
max_temp2                            94
location                Mexico-Guerrero
mean_temp                            84
mean_temp1                           84
mean_temp2                           84
min_temp                             73
min_temp1                            75
min_temp2                            74
dew_point                            75
dew_point1                           78
dew_point2                           77
precipitation                      1.22
precipitation1                        0
precipitation2                        0
wind                                  4
wind1                                 4
wind2                                 4
density_per_km                  29.2857
airport_dist_any               0.509027
airport_dist_large             0.509027
mosquito_dist                 0.0166282
gdp                              1169.6
gdp_ppp                          2270.7

In [9]:
with open('./pkl/03_infection_data_final.pkl', 'rb') as fh:
    infection = dill.load(fh)
infection.head(1)
infection = (infection
             .groupby(['location','date']).sum()
             .reset_index()
            )

infection.sort_values('zika_cases',ascending=False).head(20)

                    location       date  zika_cases
342                   Brazil 2016-05-28      161241
341                   Brazil 2016-05-21      148905
340                   Brazil 2016-05-14      138108
339                   Brazil 2016-05-07      138108
338                   Brazil 2016-04-30      127822
337                   Brazil 2016-04-23      120161
30826            El_Salvador 2016-04-23       91896
336                   Brazil 2016-04-02       91387
32512                Sudeste 2016-05-28       65328
32511                Sudeste 2016-05-21       61309
32407               Nordeste 2016-05-28       59745
32510                Sudeste 2016-05-14       54803
32509                Sudeste 2016-05-07       54803
32406               Nordeste 2016-05-21       54165
32405               Nordeste 2016-05-14       51065
32404               Nordeste 2016-05-07       51065
32508                Sudeste 2016-04-30       48027
32403               Nordeste 2016-04-30       47709
778    Brazil-Rio_de_Janeiro 2016-05-28       46389
442             Brazil-Bahia 2016-05-28       46348

In [10]:
model = pd.merge(weather,
                 infection,
                 on=['date','location'],
                 how='left')

model['zika_cases'] = model.zika_cases.fillna(0)

print (model.shape, model.isnull().sum().max())

model = pd.merge(model,
                 population,
                 on='location', 
                 how='left')

print (model.shape, model.isnull().sum().max())

model = pd.merge(model,
                 airport_distance,
                 on='location',
                 how='left')

print (model.shape, model.isnull().sum().max())

model = pd.merge(model,
                 mosquito_distance,
                 on='location',
                 how='left')

print (model.dropna().shape, model.isnull().sum().max())

(112644, 21) 0
(113139, 22) 0
(114129, 24) 0
(116109, 25) 0

In [30]:
#save_it(model, '07_feature_engineering_and_cleaning')
with open('./pkl/07_feature_engineering_and_cleaning.pkl', 'rb') as fh:
    model = dill.load(fh)